/* roboto-100 - cyrillic_latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/roboto-v18-cyrillic_latin-ext_latin-100.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin'), local('Roboto-Thin'),
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-100.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-300 - cyrillic_latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/roboto-v18-cyrillic_latin-ext_latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-300italic - cyrillic_latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/roboto-v18-cyrillic_latin-ext_latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - cyrillic_latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v18-cyrillic_latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-italic - cyrillic_latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/roboto-v18-cyrillic_latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - cyrillic_latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/roboto-v18-cyrillic_latin-ext_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500italic - cyrillic_latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/roboto-v18-cyrillic_latin-ext_latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700 - cyrillic_latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/roboto-v18-cyrillic_latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700italic - cyrillic_latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/roboto-v18-cyrillic_latin-ext_latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v18-cyrillic_latin-ext_latin-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/*================================
anim
================================*/
@-webkit-keyframes fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0; }   100% { opacity: 1; }   }

body {
  margin: 0;
  padding: 0;
  background-color: #fbfbfb;
  font-family: 'Roboto';
  min-width: 280px;
}

.fixed-container {
  margin: 0 auto;
  max-width: 1170px;
  min-width: 280px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; 
 /* overflow-x: hidden;*/
}

ul {
    margin-left: 0; 
    padding-left: 0;
  }

/*==================================
header
==================================*/



#header__nav {
  padding-top: 50px;
  padding-bottom: 60px;
  width: 30%;
  margin-right: 1px;
}

#header__nav a{
  color: #1f1f24;
  text-decoration: none;
  margin-right: 20px;
}

#header__nav a:hover {
  border-bottom: 1px solid #ff2f96;
  color: #ff2f96;
}

.header__number {
  float: right;
  padding: 50px 0 60px 0;
  width: 70%;
}

#header__number__tel {
  font-size: 25px;
  font-weight: bold;
  float: right;
  padding-right: 30px; 
}

.number__call {
  float: right;
  max-width: 270px;
  min-height: 45px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #f82370;
  border: 1px solid #f82370;
  position: relative;
  bottom: 10px;
  cursor: pointer;
}

/*==========================================
central
==========================================*/

.central-block {
  width: 100%;
  height: 100%;
  max-height: 630px;
  overflow: hidden; 
}

.central-block__title__name {
  font-size: 80px;
  font-weight: bold;;
  padding-top: 165px;
  width: 100%;
  animation: fade-in 1s linear;
  -webkit-animation: fade-in 1s linear;
  -moz-animation: fade-in 1s linear; 
  -o-animation: fade-in 1s linear; 
}
.central-block__title__occupation {
  color: #8993ad;
  font-size: 25px;
  padding-top: 25px;
  width: 100%;
  animation: fade-in 1s linear;
  -webkit-animation: fade-in 1s linear;
  -moz-animation: fade-in 1s linear; 
  -o-animation: fade-in 1s linear; 
}
#central-block__image__dude {
  float: right;
  position: relative;
  bottom: 450px;
  left: 150px;
  z-index: -1;
/*  width: 100%;
  height: 100%;*/
  max-width: 440px;
  max-height: 670px;
}

#central-block__image__egg {
  float: right;
  position: relative;
  bottom: 1050px;
  left: 520px;
  z-index: -2;
  max-width: 900px;
  max-height: 650px;
  width: 100%;
  height: 100%;
}

.central-block__title_button {
  background-color: #ff4e2e;
  color: #fff;
  border: none;
  max-width: 280px;
  min-height: 60px;
  width: 100%; 
  height: 100%;
  margin-top: 50px;
  cursor: pointer;
  display: block;
  animation: fade-in 1s linear;
  -webkit-animation: fade-in 1s linear;
  -moz-animation: fade-in 1s linear; 
  -o-animation: fade-in 1s linear; 
}

.central-block__title_button_centr {
  background-color: #ff4e2e;
  color: #fff;
  border: none;
  max-width: 280px;
  min-height: 60px;
  width: 100%; 
  height: 100%;
  margin-top: 50px;
  cursor: pointer;
  display: block;
  animation: fade-in 1s linear;
  -webkit-animation: fade-in 1s linear;
  -moz-animation: fade-in 1s linear; 
  -o-animation: fade-in 1s linear;
}
/*
=======================================================
whatido-block
=======================================================*/

.whatido-block__head {
  font-size: 54px;
  font-weight: bold;
  margin: 100px auto; 
  width: 100%;
  display: block;
  text-align: center;
}

.whatido-block__text {
  font-size: 20px;
  color: #8993ad;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /*margin-top: 25px;*/
  margin: 25px auto;
  max-width: 260px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.whatido-block__image {
  background: url("img/c.png") no-repeat;
  width: 80px;
  height: 74px;
  margin: 0 auto;
  display: block;
}

.whatido-block__image-2 {
  background: url("img/b.png") no-repeat;
  width: 80px;
  height: 74px;
  margin: 0 auto;
  display: block;
}

.whatido-block__image-3 {
  background: url("img/a.png") no-repeat;
  width: 80px;
  height: 74px;
  margin: 0 auto;
  display: block;
}

.whatido-block__image-4 {
  background: url("img/d.png") no-repeat;
  width: 80px;
  height: 74px;
  margin: 0 auto;
  display: block;
}

.whatido-block__button {
  margin: 0 auto;
  max-width: 280px;
  margin-top: 100px;
}


/*=================================
samples
=================================*/

.samples__head {
  font-size: 54px;
  font-weight: bold;
  margin: 100px auto; 
  width: 100%;
  display: block;
  text-align: center;
}

.samples__button {
    max-width: 280px;
    margin: 0 auto;
}

.text-slide {
  font-size: 20px;
  color: #8993ad;
  text-align: center;
  margin-top: 35px;
}

.owl-nav {
  display: block !important;
}

.owl-prev {
  background:url('img/arrow.png')!important;
  width: 61px;
  height: 60px;
  border-radius: 30px !important;
  -webkit-box-shadow: 0px 0px 60px -3px;
          box-shadow: 0px 0px 60px -3px;
  position: relative;
  right: 550px;
  top: -250px;
}

.owl-prev span{
  display: none;
}

.owl-next span {
  display: none;
}

.owl-next {
  background:url('img/arrow.png')!important;
  width: 61px;
  height: 60px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); 
  border-radius: 30px !important;
  -webkit-box-shadow: 0px 0px 60px -3px;
          box-shadow: 0px 0px 60px -3px;
  position: relative;
  left: 550px;
  top: -250px; 
}
.owl-next:hover {
  -webkit-box-shadow: 0 0 20px!important;
          box-shadow: 0 0 20px!important;
}

button:active, button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}

/*==============================
price
==============================*/


.price_gradient {
  min-height: 365px;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(25%, #ff8f5a), color-stop(75%, #ff2f96));
  background: -webkit-linear-gradient(bottom left, #ff8f5a  25%, #ff2f96 75%);
  background: -o-linear-gradient(bottom left, #ff8f5a  25%, #ff2f96 75%);
  background: linear-gradient(to top right, #ff8f5a  25%, #ff2f96 75%);
  margin-top: 100px;
  display: block;
  margin-bottom: 50px;
}

#price__p1 {
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  padding-top:90px;
  padding-bottom: 50px;
  margin: 0 auto;
  max-width: 950px;
  line-height: 50px;
}

#price__p2 {
  color: #fff;
  font-size: 18px;
  max-width: 950px;
  margin: 0 auto;
  padding-bottom: 50px;
  line-height: 35px;
}

/*===============================
footer
===============================*/


.footer__social {
  float: right;
  width: 30%;
}

.footer__social__icons {
  width: 42px;
  height: 42px;
  float: left;
  background: url('img/social_icons.png') no-repeat;
  margin-top: 30px;
}

.footer__social__vk .footer__social__icons {
  background-position: 0 0;
  opacity: 0.7;
  margin-right: 10px;
}

.footer__social__fb .footer__social__icons {
  background-position: -53px 0;
  opacity: 0.7;
  margin-right: 10px;
}

.footer__social__tw .footer__social__icons {
  background-position: -105px 0;
  opacity: 0.7;
  margin-right: 10px;
}

.footer__social__ins .footer__social__icons {
  background-position: -158px 0;
  opacity: 0.7;
}

.footer__social__vk .footer__social__icons:hover {
  opacity: 1;
}

.footer__social__fb .footer__social__icons:hover {
  opacity: 1;
}

.footer__social__tw .footer__social__icons:hover {
  opacity: 1;
}

.footer__social__ins .footer__social__icons:hover {
  opacity: 1;
}
.footer__column-left {
  float: left;
  max-width: 370px;
  min-height: 260px;
  width: 100%;
}
.footer__nav a{
  display: block;
  text-decoration: none;
  color: #8993ad;
  font-size: 18px;
  margin-bottom: 15px;
  width: 30%;
}

.footer__center-column {
  max-width: 300px;
  min-height: 260px;
  float: left;
  width: 100%;
  height: 100%;

}

.footer__center-column__tel {
  font-size: 25px;
  float: left;
  font-weight: bold;
  margin-bottom: 50px;
}

.fa-phone {
  float: left;
  font-size: 25px; 
  margin-right: 20px;
  color: #ff6f6e;
  margin-bottom: 50px;
  position: relative;
  top: 3px;
}

.footer__center-column__mail {
  font-weight: bold;
  font-size: 25px;
  float: left;
}

.fa-envelope {
  float: left;
  font-size: 25px;
  color: #ff6f6e;
  margin-right: 20px;
  position: relative;
  top: 3px;
}

#footer-call {
  float: left;
  margin: 0 50px 0 0;
}
.footer__social-sprite {
  display: block;
  margin: 0 auto;
}

/*========================
tags
========================*/

.central-block__tags div{
  font-size: 30px;
  position: relative;
  display: table;
  color: #ff6f6e;
  font-weight: bold;
  background: -webkit-linear-gradient(65deg, #ff8f5a 30%, #ff2f96 70%);
  background: -o-linear-gradient(65deg, #ff8f5a 30%, #ff2f96 70%);
  background: linear-gradient(25deg, #ff8f5a 30%, #ff2f96 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fade-in 2s linear;
  -webkit-animation: fade-in 2s linear;
  -moz-animation: fade-in 2s linear; 
  -o-animation: fade-in 2s linear; 
}

.central-block__tags__tag-1 {
  float: left;
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
  position: relative;
  right: 150px;
  font-size: 50px;
  cursor: default;
}

.central-block__tags__tag-2 {
  float: left;
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
  font-size: 50px;
  position: relative;
  right: 140px;
  top: 300px;
  cursor: default;
}
.central-block__tags__tag-3 {
  float: left;
  position: relative;
  -webkit-transform: rotate(-25deg);
      -ms-transform: rotate(-25deg);
          transform: rotate(-25deg);
  font-size: 40px;
  top: 550px;
  cursor: default;
}
.central-block__tags__tag-4 {
  float: right;
  position: relative;
  -webkit-transform: rotate(-25deg);
      -ms-transform: rotate(-25deg);
          transform: rotate(-25deg);
  right: 550px;
  cursor: default;
}
.central-block__tags__tag-5 {
  float: right;
  position: relative;
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
  font-size: 40px;
  right: 450px;
  top: 450px;
  cursor: default;
}

.central-block__tags__tag-6 {
  display: none;
  float: right;
  position: relative;
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
  right: 550px;
  top: 100px;
  font-size: 46px;
  cursor: default;
}

.price__tags div{
  font-size: 30px;
  position: relative;
  display: table;
  color: #fff;
  font-weight: bold;
  animation: fade-in 2s linear;
  -webkit-animation: fade-in 2s linear;
  -moz-animation: fade-in 2s linear; 
  -o-animation: fade-in 2s linear; 
}

#price__tag-7 {
  float: left;
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
  position: relative;
  right: 150px;
  top: 20px;
  font-size: 50px;
  cursor: default;
}

#price__tag-8 {
  float: left;
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
  font-size: 50px;
  position: relative;
  top: 300px;
  cursor: default;
}

#price__tag-9 {
  float: right;
  position: relative;
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
  font-size: 40px;
  top: 300px;
  cursor: default;
}

#price__tag-10 {
  display: none;
  float: right;
  position: relative;
  -webkit-transform: rotate(-25deg);
      -ms-transform: rotate(-25deg);
          transform: rotate(-25deg);
  font-size: 40px;
  top: 300px;
  left: 20px;
  cursor: default;
}
.central-block__tags_mob {
  display: none;
}

.central-block__tags_mob div{
  font-size: 30px;
  position: relative;
  display: table;
  color: #ff6f6e;
  font-weight: bold;
  background: -webkit-linear-gradient(65deg, #ff8f5a 30%, #ff2f96 70%);
  background: -o-linear-gradient(65deg, #ff8f5a 30%, #ff2f96 70%);
  background: linear-gradient(25deg, #ff8f5a 30%, #ff2f96 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fade-in 2s linear;
  -webkit-animation: fade-in 2s linear;
  -moz-animation: fade-in 2s linear; 
  -o-animation: fade-in 2s linear; 
}


/*====================================
MOB
====================================*/
#header__nav-mob {
  display: none;
  padding-top: 50px;
  padding-bottom: 60px;
  width: 30%;
  margin-left: 40px;
}
#header__nav-mob_button {
  background: url('img/button-nav.png') no-repeat;
  max-width: 45px;
  min-height: 32px;
  width: 100%;
  border: none;
  cursor: pointer;
  display: none;
}

.number__call-mob {
  display: none;
  float: right;
  background: url('img/phone.png') no-repeat;
  border: none;
  max-width: 26px;
  min-height: 26px;
  padding-right: 20px; 
  cursor: pointer;
}
.central-block_mob {
  display: none;
  margin: 0 auto; 
}

/*=========================================
mob-menu
==========================================*/
nav input {
  display: none;
}
nav label {
  cursor: pointer;
}
nav img {
  display: none;
}

.mob-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    max-width: 1024px;
    width: 100%;
    margin: 0;
    padding: 17px 0;
    text-transform: uppercase;
    line-height: 2em;
    font-size: 35px;
    background-color: #ff7a67;
    display: none;
    z-index: 5;
    opacity: 0.9;
    top: -100%;
}
li {
      list-style-type: none;
}
.menu__item {  
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin-top: 100px; 
}

.mob-menu__button {
  background: url('img/button-nav.png');
  border: none;
  width: 45px;
  height: 32px;
  cursor: pointer;
  position: relative;
  top: 40px;
  left: 40px;
  display: none;
}
.mob-menu .modal_close_menu {
  cursor: pointer;
  float: right;
  margin-right: 40px;
  color: #fff;
}
.menu {
  padding: 0;
  margin: 0;
}
.close-menu {
  z-index: 5;
  cursor: pointer;
}

.locked {
  overflow: hidden; 
}

.copy {
  background-color: #31293c;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 80px;
}


.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #ff4e2e;
}
/*==========================================
call
==========================================*/

.modal_form__div {
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid #99a1b8;
  margin: 20px;
}

.name {
  max-width: 280px;
  width: 95%;
  height: 30px;
  margin: 10px;
  border: 1px solid #ff4e2e;
  border-radius: 5px;
}
.number {
  max-width: 280px;
  width: 95%;
  height: 30px;
  margin: 10px;
  border: 1px solid #ff4e2e;
  border-radius: 5px;
}
.email {
  max-width: 280px;
  width: 95%;
  height: 30px;
  margin: 10px;
  border: 1px solid #ff4e2e;
  border-radius: 5px;
}
.send {
  max-width: 280px;
  width: 95%;
  height: 50px;
  margin: 30px 10px;
  border: none;
  background-color: #ff4e2e;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
}

.send:hover {
  opacity: 1;
}
.modal_form {
  max-width: 300px; 
  height: 250px; 
  border-radius: 5px;
  border: 3px #ff4e2e solid;
  background: #fff;
  position: fixed; 
  top: 45%; 
  left: 50%; 
  margin-top: -150px;
  margin-left: -150px; 
  display: none;
  opacity: 0;
  z-index: 5;
  padding: 20px 10px;
}
.modal_form_mail {
  max-width: 300px; 
  height: 320px; 
  border-radius: 5px;
  border: 3px #ff4e2e solid;
  background: #fff;
  position: fixed; 
  top: 45%; 
  left: 50%; 
  margin-top: -150px;
  margin-left: -150px; 
  display: none;
  opacity: 0;
  z-index: 5;
  padding: 20px 10px;
}

.modal_form .modal_close {
  max-width: 21px;
  height: 21px;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  display: block;
  font-weight: bold;
}

.modal_form_mail .modal_close {
  max-width: 21px;
  height: 21px;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  display: block;
  font-weight: bold;
}

.overlay {
  z-index:3; 
  position:fixed; 
  background-color:#000; 
  opacity:0.8; 
  -moz-opacity:0.8; 
  filter:alpha(opacity=80);
  width:100%; 
  height:100%; 
  top:0; 
  left:0;
  cursor:pointer;
  display:none;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

/*========================================
media
========================================*/
@media screen and (max-width: 1250px) {
  .owl-next {
    display: none!important;
  }
  .owl-prev {
    display: none!important;
  }
  .owl-dots {
    display: block!important;
  }
    #price__tag-9 {
    right: 500px;
    font-size: 24px;
  }
    #price__tag-7 {
    left: 150px;
    font-size: 32px;
  }
    #price__tag-10 {
    display: block;
  }
    .samples__head {
    font-size: 40px;
  }
    .whatido-block__head {
    font-size: 45px;
  }
}

@media screen and (max-width: 1024px) {
  .footer__social {
    margin-right: 20px;
    width: 30%;
  }
  .whatido-block__image {
    margin: 20px auto;
  }
  .whatido-block__image-2 {
    margin: 20px auto;
  }
  .whatido-block__image-3 {
    margin: 20px auto;
  }
  .whatido-block__image-4 {
    margin: 20px auto;
  }
  .whatido-block__text {
    margin: 0 100px;
  }
  .whatido-block__unit_1 {
    margin-bottom: 70px;
  }
  .whatido-block__unit_4 {
    margin-bottom: 40px;
  }
  nav img {
    display: block;
  }
  .nav__showmenu {
    position: relative;
    top: 40px;
    left: 40px;
  }

  #price__tag-8 {
    display: none;
  }
  .samples {
    margin: 0 40px;
   }
  .central-block__title__name {
    font-size: 54px;
    padding-left: 40px;
  }
  .central-block__title__occupation {
    padding-left: 40px;
  }
  .central-block__title_button {
    margin-left: 40px;
  }
  .header__number {
    margin-right: 40px;
  }
  #header__nav {
    display: none;
  }
  #header__nav-mob {
    display: block;
  }
  #header__nav-mob_button {
    display: block;
  }
  #central-block__image__egg {
    left: 490px;
    bottom: 1000px;
  }
  #central-block__image__dude {
    left: 90px;
  }
  .central-block__image {
    position: relative;
    left: -190px;
    top: 30px;
  }
  .central-block__tags__tag-5 {
    display: none!important;
  }
  .central-block__tags__tag-4 {
    right: 150px;
  }
  .central-block__tags__tag-3 {
    top: 450px;
    left: 250px;
  }
  .central-block__tags__tag-1 {
    left: 100px;
  }
  .central-block__tags__tag-2 {
    left: 50px;
    top: 550px;
  }
  .central-block__tags__tag-6 {
    display: block;
  }
  .footer__nav {
    margin-left: 40px;
  }
  .flex-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__column-left {
    width: 30%;
  }
  .mob-menu__button {
    display: block;
  }

}
@media screen and (max-width: 970px) {
  .footer__column-left{
    width: 30%;
  }
  #price__tag-9 {
    top: 365px;
  }
  #price__tag-10 {
    top: 325px;
  }
  .central-block__image{
      left: -100px;
  }
  #price__p1 {
    width: 91%;
  }
  #price__p2 {
    width: 91%;
  }
    .central-block__tags__tag-4 {
    right: 100px;
  }
  .whatido-block__text {
    margin: 0 30px;
  } 
  .samples__head {
    text-align: center;
  }
}
@media screen and (max-width: 900px) {
  .central-block__title {
    display: none;
  }
  .central-block_mob {
    display: block;
    margin: 0 40px;
  }
  .central-block__image {
    left: -500px;
    top: 450px;
  }
  #central-block__image__egg {
    left: 510px;
  }
  .central-block__title__name {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 500px;
    padding-left: 0;
  }
  .central-block__title__occupation {
    max-width: 350px;
    margin: 0 auto;
    padding-left: 0;
  }
  .central-block__title_button {
    margin: 50px auto; 
  }
  #price__p1 {
    font-size: 40px;
  }
  #price__p2 {
    font-size: 17px;
  }
  #central-block__image__dude {
    left: 270px;
  }
  .footer__center-column__tel {
    font-size: 20px;
    margin-right: 44px;
  }
  .footer__center-column__mail {
    font-size: 20px;
  }
  .footer__center-column {
    width: 35%;
  }
  .fa-envelope {
    font-size: 20px;
  }
  .fa-phone {
    font-size: 20px;
  }
  .footer__social {
    width: 30%;
  }
  .central-block__tags_mob {
    display: block;
  }
  .central-block__tags__tag-4 {
    left: 450px;
    bottom: 400px;
  }
  .central-block__tags__tag-3 {
    bottom: 450px;
    left: 502px;
    top: -250px;
  }
  .central-block__tags__tag-1 {
    left: 600px;
    bottom: 450px;
  }
  .central-block__tags__tag-2 {
    left: 1000px;
    top: -375px;
  }
}

@media screen and (max-width: 800px) {

  #central-block__image__dude {
    left: 440px;
    width: 100%;
  }

  .central-block {
    margin: 0 auto;
  }
  .central-block__title {
    padding-top: 430px;
  }

  .central-block {
    padding: 0;
  }
  #price__p2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 770px) {
  #header__number__tel {
    font-size: 20px;
  }
  .footer__column-left {
    width: 100%;
    max-width: 485px;
    min-height: 140px;
  }
  .footer__center-column {
    min-height: 165px;
    width: 100%;
    margin-left: 40px;
    margin-right: 165px;
  }
  .footer__social {
    float: left;
    margin-left: 40px;
    margin-bottom: 50px;
    width: 70%;
    min-height: 100px;
  }
  #footer-call {
    float: left;
    margin: 0px auto;
    margin-right: 400px;
  }
  .footer__social__icons {
    float: left;
  }
/*  .footer__social__ins .footer__social__icons {
    margin-right: 20px;
  }*/
}

@media screen and (max-width: 750px) {
  #central-block__image__egg {
    min-width: 770px;
    bottom: 950px;
    left: 540px;
  }
}


@media screen and (max-width: 700px) {
  .number__call {
    width: 30%;
  }
  .central-block__title {
    padding-top: 370px;
  }
  #footer-call {
    width: 100%;
  }
  .central-block__tags__tag-2 {
    top: -325px;
  }
}
@media screen and (max-width: 670px) {
  #price__tag-9 {
    top: 420px;
  }
  #price__tag-10 {
    top: 295px;
  }
  .whatido-block__unit_1 {
    margin-bottom: 30px; 
  }
  .whatido-block__unit_2 {
    margin-bottom: 30px; 
  }
  .whatido-block__unit_3 {
    margin-bottom: 30px; 
  }
  .whatido-block__unit_4 {
    margin-bottom: 30px; 
  }
}


@media screen and (max-width: 650px) {
  #central-block__image__dude {
    left: 450px;
  }
    #central-block__image__egg {
    left: 570px;
  }
  #price__tag-9 {
    right: 300px;
    top: 450px;
  }
}

@media screen and (max-width: 585px){
  .central-block__title {
    padding-top: 300px;
  }
  .central-block__title__name {
    font-size: 45px;
    max-width: 410px;
  }
  .central-block__title__occupation {
    font-size: 20px;
    max-width: 265px;
  }
  .number__call {
    display: none;
  }
  .number__call-mob {
    display: block;
  }
  #header__number__tel {
    margin: 0 auto;
    font-size: 25px;
    float: none;
    padding-right: 0;
    max-width: 240px;
  }
  .mob-menu__button {
    height: 18px;
    width: 24px;
    background: url('img/button-nav320.png');
    top: 57px;
  }
  #footer-call {
    display: block;
  }
  #small__button {
    display: block;
  }
  nav img {
    display: none;
  }
  .nav__showmenu {
    top: 50px;
  }
  .central-block__tags__tag-2 {
    left: 850px;
  }

}

@media screen and (max-width: 520px) {
    #price__tag-9 {
    right: 200px;
    top: 460px;
  }
}

@media screen and (max-width: 510px) {
    #central-block__image__dude {
    left: 450px;
    max-height: 450px;
    max-width: 300px;
    bottom: 440px;
  }
  #central-block__image__egg {
    max-width: 450px;
    max-height: 550px;
    bottom: 800px;
    left: 610px;
  }
  .central-block {
    max-height: 460px;
  }
  .central-block__title__name {
    font-size: 40px;
    max-width: 362px;
  }
  .central-block__title__occupation {
    font-size: 18px;
    max-width: 238px;
  }
  .central-block__tags__tag-3 {
    left: 690px;
    top: -456px;
 }
 .central-block__tags__tag-1 {
    left: 550px;
  }
  .central-block__tags__tag-2 {
    left: 510px;
  }
}

@media screen and (max-width: 460px) {
    .central-block__title__name {
    font-size: 35px;
    max-width: 317px;
  }
  .central-block__title__occupation {
    font-size: 16px;
    max-width: 212px;
  }
  #price__p1 {
    font-size: 35px;
  }
  #price__p2 {
    font-size: 15px;
  }
  #price__tag-9 {
    display: none;
  }
  #price__tag-10 {
    left: -60px;
  }
}

@media screen and (max-width: 415px) {
  #header__number__tel {
    font-size: 20px;
  }
  .central-block_mob {
    margin: 0 20px;
  }
  #central-block__image__egg {
    bottom: 830px;
    left: 674px;
  }
  #central-block__image__dude {
    left: 460px;
    bottom: 477px;
  }
  #header__number__tel {
    padding-left: 20px;
    font-size: 18px;
  }
  #header__nav-mob {
    margin-left: 20px;
  }
  .number__call-mob {
    position: relative;
    left: 20px;
    bottom: 3px;
  }
  .central-block_mob {
    margin: 0 auto; 
  }
  .central-block__title__occupation {
    max-width: 212px;
  }
  .central-block__title__name {
    max-width: 272px;
    font-size: 30px;
  }
  #price__p1 {
    font-size: 28px;
  }
  .whatido-block__head {
    font-size: 30px;
  }
  .whatido-block__text {
    font-size: 16px;
  }
  .samples__head {
    font-size: 30px;
  }
  .nav__showmenu {
    left: 20px;
    top: 45px;
  }
  .footer__nav {
    margin-left: 20px;
  }
  .footer__center-column {
    margin-left: 20px;
    width: 87%;
    margin-right: 0;
  }
  .footer__social {
    margin-left: 20px;
  }
  .samples {
    margin: 0px 10px;
  }
  #footer-call {
    border: none;
    background-color: #ff4e2e;
    color: #fff;
    width: 270px;
    margin: 0 auto;
  }
  .copy {
    font-size: 12px;
  }
  .central-block__tags__tag-2 {
    left: 480px;
    top: -350px;
  }
  .mob-menu__button {
    height: 18px;
    width: 24px;
    background: url('img/button-nav320.png');
    top: 50px;
    left: 20px;
  }
  .modal_form {
    margin-right: 10px;
  }
    .modal_form {
    margin-right: 10px;
  }
  .modal_form_mail {
    margin-right: 10px;
  }
  .header__number {
    padding: 20px 0 60px 0;
  }
  .mob-menu__button {
    top: 22px;
  }
}

@media screen and (max-width: 320px) {
  #central-block__image__dude {
    left: 500px;
    bottom: 477px;
  }
  #central-block__image__egg {
    bottom: 830px;
    left: 730px;
  }
  .central-block__tags__tag-4 {
    left: 480px;
    bottom: 385px;
    font-size: 20px!important;
    -webkit-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  .central-block__tags__tag-3 {
    left: 630px;
  }

}